* {
  font-family: "Roboto", Arial;
}

.calculator {
  border: 2px solid #00205b;
  border-radius: 4px;
  padding: 0.8em 0.5em 0.8em 0.5em;
  margin: 2em 42% 0 42%;
  background-color: #b6bdc6;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-template-areas:
    "dis dis dis dis dis"
    "MR seven eight nine div "
    "MS four five six mult "
    "MC one two three minus "
    "C zero dec equals plus";
}

#display {
  font-family: "Oxanium";
  text-align: right;
  background-color: #ffffff;
  border: 2px solid #1e2a41;
  border-radius: 4px;
  grid-area: dis;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: dec;
}

#clear {
  grid-area: C;
}

#div {
  grid-area: div;
}

#mult {
  grid-area: mult;
}

#plus {
  grid-area: plus;
}

#minus {
  grid-area: minus;
}

#equals {
  grid-area: equals;
}

#mem-clear {
  grid-area: MC;
}

#mem-save {
  grid-area: MS;
}

#mem-recall {
  grid-area: MR;
}

.numbers {
  text-align: center;
  padding-top: 15px;
  background-color: #b0ddb2;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #3a493a;
}

.numbers:hover {
  cursor: pointer;
  background-color: #485b49;
  border: 1px solid yellow;
  border-radius: 4px;
  color: #ffffff;
}

.operator {
  text-align: center;
  padding-top: 15px;
}

/*
link for colors
http://www.htmlcsscolor.com/hex/B0DDB2
*/

.operator:hover {
  cursor: pointer;
}

.memory {
  text-align: center;
  padding-top: 15px;
  background-color: #5a725b;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #ffffff;
}

.memory:hover {
  cursor: pointer;
  background-color: #8db18e;
  border: 1px solid yellow;
  color: #3a493a;
}

.operator,
.clear,
.equals,
.decimal {
  border: 1px dashed red;
}
