* {
  font-family: "Roboto", Arial;
}

html {
  background: linear-gradient(to bottom right, #008080, #acd5d5);
  height: 100%;
}

.calculator {
  border: 2px solid #00205b;
  border-radius: 4px;
  padding: 0.8em 0.5em 0.8em 0.5em;
  margin: auto;
  margin-top: 1.5em;
  width: 16.88em;
  background-color: #b6bdc6;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-template-areas:
    "dis dis dis dis dis"
    "MR seven eight nine div "
    "MS four five six mult "
    "MC one two three minus "
    "C zero dec equals plus";
}

#display {
  font-family: "Oxanium";
  font-size: 2.5em;
  text-align: right;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
  padding-right: 0.15em;
  grid-area: dis;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: dec;
}

#clear {
  grid-area: C;
}

#div {
  grid-area: div;
}

#mult {
  grid-area: mult;
}

#plus {
  grid-area: plus;
}

#minus {
  grid-area: minus;
}

#equals {
  grid-area: equals;
}

#mem-clear {
  grid-area: MC;
}

#mem-save {
  grid-area: MS;
}

#mem-recall {
  grid-area: MR;
}

.inputs {
  text-align: center;
  padding-top: 15px;
  background-color: #00205b;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.inputs:hover {
  cursor: pointer;
  background-color: #acb6c9;
  color: #000000;
  font-weight: bold;
  border: 1px solid yellow;
}

.operator {
  text-align: center;
  padding-top: 15px;
  background-color: #3a517e;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.operator:hover {
  cursor: pointer;
  background-color: #bec6d5;
  color: #000000;
  font-weight: bold;
  border: 1px solid yellow;
}

.memory {
  text-align: center;
  padding-top: 15px;
  background-color: #7d8dab;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.memory:hover {
  cursor: pointer;
  background-color: #d5dae4;
  color: #000000;
  font-weight: bold;
  border: 1px solid yellow;
}

.equals {
  text-align: center;
  padding-top: 15px;
  background-color: #ff5c5c;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.equals:hover {
  cursor: pointer;
  background-color: #ffcaca;
  color: #000000;
  font-weight: bold;
  border: 1px solid yellow;
}

.clear {
  text-align: center;
  padding-top: 15px;
  background-color: #708090;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.clear:hover {
  cursor: pointer;
  background-color: #d1d5a;
  color: #000000;
  font-weight: bold;
  border: 1px solid yellow;
}
